@model IEnumerable<YESS.Models.DoctorViewModel>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/YESS_Layout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>מאגר רופאים</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<table class="table" dir="rtl" style="text-align:right">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_TZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LasttName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeSpecial)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID_TZ)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LicenseNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LasttName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EnglishName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthDate)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeSpecial)
    </td>

</tr>
    }

</table>

<div class="form-group" dir="rtl" style="text-align:right">
    <div class="col-md-offset-2 col-md-10">
        <a href='@Url.Action("Index", "Home")' class="button button-contactForm btn_1">חזרה לעמוד הראשי</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href='@Url.Action("create", "Doctor")' class="button button-contactForm btn_1">הוספת רופא</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <a href='@Url.Action("Edit1", "Doctor")' class="button button-contactForm btn_1">עדכון רופא</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href='@Url.Action("Delete1", "Doctor")' class="button button-contactForm btn_1">מחיקת רופא</a>

    </div>
    </div>
