@model IEnumerable<YESS.Models.ViewModel.PrescriptionsViewModel>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/YESS_Layout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>פרטי מטופל והיסטוריית מרשמים</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h2 style="text-align:right" dir="rtl">פרטי מטופל</h2>
<table class="table" dir="rtl" style="text-align:right">
    <tr>
        <th>
            <label>שם פרטי</label>
        </th>
        <th>
            <label>שם משפחה</label>
        </th>
        <th>
            <label>תעודת זהות</label>
        </th>
        <th>
            <label>מין</label>
        </th>
        <th>
            <label>כתובת</label>
        </th>
        <th>
            <label>מספר טלפון</label>
        </th>
        <th>
            <label>כתובת מייל</label>
        </th>
        <th>
            <label>תאריך לידה</label>
        </th>
        <th>
            <label>רקע רפואי</label>
        </th>
        <th>
            <label>אלרגיות</label>
        </th>
        
        <th></th>
    </tr>

   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.LasttName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.ID_TZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.BirthDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.Hmo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => RouteConfig.pvm.Allergy)
            </td>
            
           
        </tr>

        </table>



   <h2 style="text-align:right" dir="rtl">היסטוריית מרשמים</h2>
        <table class="table" dir="rtl" style="text-align:right">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_TZ_Doctor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_TZ_Patient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NDC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimesToTake)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ammount)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_TZ_Doctor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_TZ_Patient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NDC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimesToTake)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ammount)
                    </td>

                </tr>
            }

        </table>
        <div class="form-group" dir="rtl" style="text-align:right">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Index", "Home")' class="button button-contactForm btn_1">חזרה לעמוד הראשי</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <a href='@Url.Action("Create1", "Prescriptions")' class="button button-contactForm btn_1">הנפקת מרשם</a>

            </div>
        </div>
