@model YESS.Models.ViewModel.PrescriptionsViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/YESS_Layout.cshtml";
}


<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item" style="text-align:right">
                        <h2> עדכון מרשם</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("Edit", "Prescriptions", FormMethod.Post))
{

    <h2 style="text-align:center">@ViewBag.succeessOrNot</h2>

    @Html.AntiForgeryToken()
<div>
    @if (RouteConfig.helper2 == 1)
    {

        <div class="form-horizontal" style="text-align:right" dir="rtl">
            <h4>PrescriptionsViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ID_TZ_Doctor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_TZ_Doctor, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.EditorFor(model => model.ID_TZ_Doctor, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                    @Html.ValidationMessageFor(model => model.ID_TZ_Doctor, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_TZ_Patient, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_TZ_Patient, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.EditorFor(model => model.ID_TZ_Patient, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                    @Html.ValidationMessageFor(model => model.ID_TZ_Patient, "", new { @class = "text-danger", @style = "display:none" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NDC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NDC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NDC, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Last, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Last, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Last, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TimesToTake, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimesToTake, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimesToTake, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ammount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ammount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ammount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="button button-contactForm btn_1">עדכון מרשם</button>

                    <input type="reset" class="button button-contactForm btn_1">
                </div>
            </div>
        </div>

      }
   </div>
}

<div style="text-align:right" dir="rtl">
    &nbsp;&nbsp;&nbsp;
    <a href='@Url.Action("Index", "Home")' class="button button-contactForm btn_1">חזרה לעמוד הראשי</a>

</div>