
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>medical</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="navbar-nav">
                            <ul>
                                <li>
                                    <p></p>
                                    @if (RouteConfig.isUser == false)
                                    {
                                        @Html.ActionLink("התחברות", "Mypass", "Home", null, htmlAttributes: new { @class = "nav-link" })
                                    }

                                    else
                                    {
                                        var x = RouteConfig.user.FirstName + " " + RouteConfig.user.LasttName;
                                        <h3> @x </h3>
                                    }
                                </li>
                                <li class="nav-item active">

                                    @if (RouteConfig.isUser == true)
                                   {
                                        @Html.ActionLink("התנתקות מחשבון", "OUTMyUser", "Home", null, htmlAttributes: new { @class = "nav-link" })
                                    }
                               </li>

                            </ul>

                        </div>

                        <a class="navbar-brand" href='@Url.Action("Index", "Home")'> <img src="~/img/logo3.png" alt="logo"> </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">

                            <span class="navbar-toggler-icon"></span>

                        </button>



                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                             id="navbarSupportedContent">

                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">

                                    @Html.ActionLink("דף הבית", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })

                               </li>

                                <li class="nav-item">

                                    @Html.ActionLink("אודותינו", "about", "Home", null, htmlAttributes: new { @class = "nav-link" })

                                    

                                </li>

                                <li class="nav-item dropdown">

                                    @if (RouteConfig.isUser == true && RouteConfig.WhichUser == 1)

                                    {

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">

                                            @Html.ActionLink("הוספה", "Create", "Doctor", null, htmlAttributes: new { @class = "dropdown-item" })@*, new { @style = "color:#000000" }*@

                                            

                                            <p></p>

                                            @Html.ActionLink("הסרה", "Delete1", "Doctor", null, htmlAttributes: new { @class = "dropdown-item " })

                                            

                                            <p></p>

                                            @Html.ActionLink("עדכון", "Edit1", "Doctor", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("מאגר רופאים", "Details", "Doctor", null, htmlAttributes: new { @class = "dropdown-item" })



                                        </div>

                                        @Html.ActionLink("רופאים", "Doctor", "Home", null, htmlAttributes: new { @class = "nav-link dropdown-toggle" })

                                        

                                    }

                                </li>
                                <li class="nav-item dropdown">

                                    @if (RouteConfig.isUser == true && RouteConfig.WhichUser == 1)

                                    {

                                        <div dir="rtl" class="dropdown-menu" aria-labelledby="navbarDropdown_1">

                                            @Html.ActionLink("הוספה", "create", "Patient", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("הסרה", "Delete1", "Patient", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("עדכון", "Edit1", "Patient", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("הסטוריית מרשמי מטופל על פי ת.ז", "DetailsAskForID", "Prescriptions", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("מאגר מטופלים", "Details", "Patient", null, htmlAttributes: new { @class = "dropdown-item" })



                                        </div>

                                        @Html.ActionLink("מטופלים", "Patient", "Home", null, htmlAttributes: new { @class = "nav-link dropdown-toggle" })

                                    }

                                </li>

                                <li class="nav-item dropdown">

                                    @if (RouteConfig.isUser == true && RouteConfig.WhichUser == 1)

                                    {

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                            @Html.ActionLink("הוספה", "CreateMedicine", "Medicine", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("הסרה", "Delete1Medicine", "Medicine", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("עדכונים", "pageEdit", "Home", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("מרשמים על פי תרופה נבחרת", "DetailsAskForNCD", "Prescriptions", null, htmlAttributes: new { @class = "dropdown-item" })

                                            <p></p>

                                            @Html.ActionLink("מאגר תרופות", "Details", "Medicine", null, htmlAttributes: new { @class = "dropdown-item" })



                                        </div>

                                        @Html.ActionLink("תרופות", "Medicine", "Home", null, htmlAttributes: new { @class = "nav-link dropdown-toggle" })

                                    }

                                </li>

                                <li class="nav-item dropdown">

                                    @if (RouteConfig.isUser == true && RouteConfig.WhichUser == 2)

                                    {

                                    <div dir="rtl" class="dropdown-menu" aria-labelledby="navbarDropdown_1">

                                        @Html.ActionLink("מאגר תרופות", "DetailsForDocto", "Medicine", null, htmlAttributes: new { @class = "dropdown-item" })

                                        <p></p>

                                        @Html.ActionLink("מאגר מטופלים", "DetailsForDoctor", "Patient", null, htmlAttributes: new { @class = "dropdown-item" })



                                        <p></p>

                                        @Html.ActionLink("הנפקת מרשם", "Create1", "Prescriptions", null, htmlAttributes: new { @class = "dropdown-item" })

                                        


                                        <p></p>

                                        @Html.ActionLink("הסטוריית מרשמי מטופל על פי ת.ז", "DetailsAskForID", "Prescriptions", null, htmlAttributes: new { @class = "dropdown-item" })
                                        <p></p>

                                        @Html.ActionLink("עדכון רקע רפואית ואלרגיה למטופל", "EditPatientHis", "Patient", null, htmlAttributes: new { @class = "dropdown-item" })



                                    </div>

                                        @Html.ActionLink("אפשרויות", "ForDoctor", "Home", null, htmlAttributes: new { @class = "nav-link dropdown-toggle" })

                                    }

                                </li>



                                <li class="nav-item">

                                    @if (RouteConfig.WhichUser != 0)

                                    {

                                        @Html.ActionLink("מדגמים", "midgam", "Home", null, htmlAttributes: new { @class = "nav-link" })

                                    }

                                </li>

                                <li class="nav-item">

                                    @Html.ActionLink("צור קשר", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })

                                </li>

                            </ul>

                        </div>

                        <a class="btn_2 d-none d-lg-block" href="https://www.mdais.org/">מגן דוד אדום 101</a>

                    </nav>

                </div>

            </div>

        </div>

        <div>

            <h2> @ViewBag.answerGoodOrNot</h2>

        </div>

    </header>


    @RenderBody()

    <!-- Header part end-->
    <!-- footer part start-->
    <footer class="footer-area">
        <div class="footer section_padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget">
                        <a href="#" class="footer_logo"> <img src="~/img/logo3.png" alt="#"> </a>
                        <p>רפואה דחופה, פרויקט מחשוב ענן 2020 </p>
                        <div class="social_logo">
                            <a href="https://he-il.facebook.com/"><i class="ti-facebook"></i></a>
                            <a href="https://twitter.com/login?lang=he"> <i class="ti-twitter"></i> </a>
                            <a href="https://www.instagram.com/accounts/login/"><i class="ti-instagram"></i></a>
                            <a href="https://www.skype.com/he/get-skype/"><i class="ti-skype"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                        <h4>קישורים</h4>
                        <ul>
                            <li>
                                @Html.ActionLink("דף הבית", "Index","Home", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                            <li>
                                @Html.ActionLink("אודותינו", "about", "Home", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                            @if (RouteConfig.isUser == true && RouteConfig.WhichUser == 1)
                            {
                                <li>
                                    @Html.ActionLink("רופאים", "Doctor", "Home", null, htmlAttributes: new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("תרופות", "Medicine", "Home", null, htmlAttributes: new { @class = "nav-link " })
                                </li>
                                <li>
                                    @Html.ActionLink("מטופלים", "Patient", "Home", null, htmlAttributes: new { @class = "nav-link" })
                                </li>
                            }
                            @if (RouteConfig.isUser == true && RouteConfig.WhichUser == 2)
                            {
                                <li>
                                    @Html.ActionLink("אפשרויות", "ForDoctor", "Home", null, htmlAttributes: new { @class = "nav-link" })
                                </li>
                            }
                            @if (RouteConfig.WhichUser != 0)

                            {    
                                <li>
                                    @Html.ActionLink("מדגמים", "midgam", "Home", null, htmlAttributes: new { @class = "nav-link" })
                                </li>
                            }
                            <li>
                                @Html.ActionLink("צור קשר", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget">
                        <h4>פניות</h4>
                        <p>
                            הכנס אימייל בזמן תקלה
                        </p>
                        <div class="form-wrap" id="mc_embed_signup">
                            <form target="_blank"
                                  method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'האימייל שלך '"
                                       required="" type="email">
                                <button class="click-btn btn btn-default text-uppercase">
                                    <i class="ti-angle-right"></i>
                                </button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                           type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright_part">
            <div class="container">
                <div class="row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"> <i class="ti-twitter"></i> </a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer part end-->
    <!-- jquery plugins here-->

    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- contact js -->
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>
   